.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.experience .exp-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  gap: 1rem;
}

.experience h2 {
  font-size: 3rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--text-color);
}

.experience .content {
  padding: 1rem;
  width: 100%;
  border: solid var(--main-color);
}

.experience .dates {
  font-size: 1.2rem;
  color: var(--effect-color);
  padding-left: 0.3rem;
}

.experience .dates i {
  padding-left: 0.2rem;
}

.experience .content p {
  color: var(--text-color);
  font-size: 1.2rem;
  padding-top: 0.2rem;
}

.experience .content p span {
  padding-left: 0.2rem;
}
