#skills {
  margin-top: 50rem;
}

#skills .skills-title {
  font-size: 3rem;
  font-weight: 500;
  color: var(--text-color);
  text-transform: capitalize;
}

#skills .card {
  background: var(--main-color);
  width: 15rem;
  height: 5rem;
}

#skills .card-title {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  text-transform: capitalize;
  margin-left: 1rem;
}

#skills .progress-bar {
  background-color: var(--effect-color) !important;
}
