section.home {
  position: relative;
  margin: 10%;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10%;
  padding: 15%;
}

.home-content h1 {
  font-size: 3rem;
  font-weight: 400;
  color: var(--text-color);
  text-transform: capitalize;
}

.home-typed {
  color: transparent;
  -webkit-text-stroke: 0.7px var(--effect-color);
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
}

.home-content .social {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.home-content .social a {
  background: transparent;
  color: var(--text-color);
}

.home-content .social a:hover {
  border-top: solid var(--hover-color) 0.2rem;
  border-left: solid var(--hover-color) 0.1rem;
  border-radius: 10%;
  transition: 0.5s;
}
