#home {
  margin-top: 15rem;
}

#home h1 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--text-color);
  text-transform: capitalize;
}

#home .home-typed {
  color: transparent;
  -webkit-text-stroke: 0.7px var(--effect-color);
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
}

#home .social {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#home .social a {
  background: transparent;
  color: var(--text-color);
}

#home .social a:hover {
  border-top: solid var(--hover-color) 0.2rem;
  border-left: solid var(--hover-color) 0.1rem;
  border-radius: 10%;
  transition: 0.5s;
}
