.navbar .logo {
  font-weight: 500;
  font-size: 2rem;
  border-bottom: solid var(--effect-color) 0.1rem;
  text-transform: capitalize;
  color: var(--text-color) !important;
  padding: 0.5rem;
}

.navbar .logo:hover {
  color: var(--hover-color) !important;
  transition: all 0.5s;
}

.navbar a.active {
  border-bottom: solid var(--effect-color) 0.1rem;
}

.navbar a.inactive:hover {
  color: var(--hover-color) !important;
  transition: all 0.5s;
}

.navbar a.navlink {
  font-weight: 500;
  letter-spacing: 0.03rem;
  cursor: pointer;
  font-size: 3rem;
  padding: 0.5rem;
}

.navbar ul.navbar-nav li a {
  text-transform: uppercase;
  color: var(--text-color) !important;
  margin: 1rem;
}

.navbar div button {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
