.logo {
  font-size: 3rem;
  border-top: solid var(--effect-color) 0.1rem;
  border-left: solid var(--effect-color) 0.1rem;
  border-radius: 10%;
  text-transform: capitalize;
  color: var(--text-color) !important;
  padding: 0.5rem;
}

.logo:hover {
  font-size: 2rem;
  background: var(--effect-color);
  padding: 1rem;
  border-radius: 10%;
  transition: all 0.5s;
}

nav a.navlink {
  font-weight: 500;
  letter-spacing: 0.03rem;
  cursor: pointer;
  font-size: 2rem;
}

ul.navbar-nav li a {
  text-transform: uppercase;
  color: var(--text-color) !important;
  margin: 1rem;
}

a.active {
  border-bottom: solid var(--effect-color) 0.1rem;
  border-radius: 10%;
}

a.inactive:hover {
  font-size: 0.8rem;
  background: var(--effect-color);
  padding: 0.5rem;
  border-radius: 10%;
  transition: all 0.5s;
}

.navbar div button {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
