@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700");

:root {
  --bg-color: #5c8374;
  --effect-color: #092635;
  --text-color: #ededed;
  --hover-color: #1b4242;
  --main-color: #5c8374;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: linear-gradient(
    var(--bg-color),
    var(--main-color),
    var(--bg-color)
  );
  color: var(--text-color);
  scroll-behavior: smooth;
  font-family: "Poppins" sans-serif Verdana, Geneva, Tahoma;
}

section {
  width: 100%;
  height: 100vh;
}
